<div class="container">
    <div class="terminal-nav">
        <header>
            <a class="img-link" href="/"><img src="/static/img/logo.png"></a>
        </header>
        <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li><a href="https://github.com/esell" target="#"><span>CODE</span></a></li>
                <li><a href="https://esheavyindustries.com/zines" target="#"><span>ZINES</span></a></li>
                <li><a href="/"><span>CONTACT</span></a></li>
            </ul>
        </nav>
    </div>
</div>  
<br>
