<!doctype html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>	
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        $if(description)$
        <meta name="description" content="$description$">
        $endif$
        $if(author)$
        <meta name="author" content="$author$">
        $endif$
        $if(date-meta)$
        <meta name="dcterms.date" content="$date-meta$">
        $endif$
        <title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>	

        <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

        $for(css)$
        <link rel="stylesheet" href="$css$">
        $endfor$

        $for(header-includes)$
        $header-includes$
        $endfor$
    </head>
    <body id="collection" itemscope itemtype="http://schema.org/WebPage">
        <!-- header start -->
        $for(include-before)$
        $include-before$
        $endfor$
        <!-- header end -->

        <section id="wrapper" itemscope itemtype="http://schema.org/Blog">
            $for(posts)$
            <article class="wrap h-entry" itemscope itemtype="http://schema.org/BlogPosting">
                <h2 class="post-title" itemprop="name" class="p-name">
                    <a href="$posts.link$" itemprop="url" class="u-url">$posts.title$</a>
                </h2>

                <time class="dt-published" pubdate itemprop="datePublished">$posts.date$</time>

                <div lang="en" dir="auto" class="book p-summary"><p>$posts.summary$</p></div>
            </article>
            $endfor$
        </section>

        <footer>
            <hr />
            <nav dir="ltr">
                powered by hate
            </nav>
        </footer>

    </body>
</html>



